<?xml version="1.0"?>
<config>
    <modules>
        <PanthelopeTechnologies_RybonsCoupon>
            <version>1.0.0</version>
        </PanthelopeTechnologies_RybonsCoupon>
    </modules>
    <frontend>
        <routers>
            <RybonsCoupon>
                <use>standard</use>
                <args>
                    <module>PanthelopeTechnologies_RybonsCoupon</module>
                    <frontName>RybonsCoupon</frontName>
                </args>
            </RybonsCoupon>
        </routers>
        <layout>
            <updates>
                <RybonsCoupon>
                    <file>RybonsCoupon.xml</file>
                </RybonsCoupon>
            </updates>
        </layout>
        <translate>
            <modules>
                <PanthelopeTechnologies_RybonsCoupon>
                    <files>
                        <default>PanthelopeTechnologies_RybonsCoupon.csv</default>
                    </files>
                </PanthelopeTechnologies_RybonsCoupon>
            </modules>
        </translate>			
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <PanthelopeTechnologies_RybonsCoupon>
                    <files>
                        <default>PanthelopeTechnologies_RybonsCoupon.csv</default>
                    </files>
                </PanthelopeTechnologies_RybonsCoupon>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <RybonsCoupon translate="title" module="RybonsCoupon">
                                            <title>Options</title>
                                            <sort_order>100</sort_order>
                                        </RybonsCoupon>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <default>
            <RybonsCoupon>
                <PanthelopeTechnologies_group>                
                    <PanthelopeTechnologies_mode>0</PanthelopeTechnologies_mode>      
                </PanthelopeTechnologies_group>      
            </RybonsCoupon>
        </default>
    </adminhtml>  
    <global>

        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <RybonsCoupon_observer>
                        <type>singleton</type>
                        <class>RybonsCoupon/observer</class>
                        <method>insertBlock</method>
                    </RybonsCoupon_observer>
                </observers>
            </core_block_abstract_to_html_before>
            <sales_order_save_before>
                <observers>
                    <RybonsCoupon_observer>
                        <type>singleton</type>
                        <class>RybonsCoupon/observer</class>
                        <method>salesOrderSaveBefore</method>
                    </RybonsCoupon_observer>
                </observers>
            </sales_order_save_before>
            <sales_order_save_after>
                <observers>
                    <RybonsCoupon_observer>
                        <type>singleton</type>
                        <class>RybonsCoupon/observer</class>
                        <method>salesOrderSaveAfter</method>
                    </RybonsCoupon_observer>
                </observers>
            </sales_order_save_after>
            <sales_order_invoice_pay>
                <observers>
                    <RybonsCoupon_observer>
                        <type>singleton</type>
                        <class>RybonsCoupon/observer</class>
                        <method>salesInvoiceCreateAfter</method>
                    </RybonsCoupon_observer>
                </observers>
            </sales_order_invoice_pay>
        </events>
        <models>
            <RybonsCoupon>
                <class>PanthelopeTechnologies_RybonsCoupon_Model</class>
                <resourceModel>RybonsCoupon_mysql4</resourceModel>
            </RybonsCoupon>
            <RybonsCoupon_mysql4>
                <class>PanthelopeTechnologies_RybonsCoupon_Model_Mysql4</class>
            </RybonsCoupon_mysql4>
        </models>
        <resources>
            <RybonsCoupon_setup>
                <setup>
                    <module>PanthelopeTechnologies_RybonsCoupon</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </RybonsCoupon_setup>
            <RybonsCoupon_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </RybonsCoupon_write>
            <RybonsCoupon_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </RybonsCoupon_read>
        </resources>
        <blocks>
            <RybonsCoupon>
                <class>PanthelopeTechnologies_RybonsCoupon_Block</class>
            </RybonsCoupon>
        </blocks>
        <helpers>
            <RybonsCoupon>
                <class>PanthelopeTechnologies_RybonsCoupon_Helper</class>
            </RybonsCoupon>
        </helpers>
        <sales>
            <quote>
                <totals>
                    <RybonsCoupon>
                        <class>RybonsCoupon/quote_total_RybonsCoupon</class>
                        <after>grand_total</after>
                    </RybonsCoupon>
                    <RybonsCoupon_tax>
                        <class>RybonsCoupon/quote_total_tax</class>
                        <after>subtotal,discount,shipping,tax</after>
                        <before>grand_total</before>
                    </RybonsCoupon_tax>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <RybonsCoupon>
                        <class>RybonsCoupon/invoice_total_RybonsCoupon</class>
                    </RybonsCoupon>
                    <RybonsCoupon_tax>
                        <class>RybonsCoupon/invoice_total_tax</class>
                    </RybonsCoupon_tax>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <RybonsCoupon>
                        <class>RybonsCoupon/creditmemo_total</class>
                    </RybonsCoupon>
                </totals>
            </order_creditmemo>
        </sales>
        <fieldsets>
            <sales_convert_quote_address>
                <RybonsCoupon_code>
                    <to_order>*</to_order>
                </RybonsCoupon_code>
                <RybonsCoupon_discount>
                    <to_order>*</to_order>
                </RybonsCoupon_discount>
                <base_RybonsCoupon_discount>
                    <to_order>*</to_order>
                </base_RybonsCoupon_discount>
                <RybonsCoupon_discount_tax>
                    <to_order>*</to_order>
                </RybonsCoupon_discount_tax>
                <base_RybonsCoupon_discount_tax>
                    <to_order>*</to_order>
                </base_RybonsCoupon_discount_tax>
            </sales_convert_quote_address>
        </fieldsets>
        <pdf>
            <totals>
                <RybonsCoupon translate="title">
                    <title>PanthelopeTechnologies Rybons Coupon</title>
                    <source_field>RybonsCoupon_discount</source_field>
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>590</sort_order>
                    <amount_prefix>-</amount_prefix>
                </RybonsCoupon>
            </totals>
        </pdf>
    </global>
</config>